@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(161, 161, 161);
  background: -moz-linear-gradient(
    30deg,
    rgba(161, 161, 161, 1) 0%,
    rgba(255, 255, 255, 0.7441570378151261) 87%
  );
  background: -webkit-linear-gradient(
    30deg,
    rgba(161, 161, 161, 1) 0%,
    rgba(255, 255, 255, 0.7441570378151261) 87%
  );
  background: linear-gradient(
    30deg,
    rgba(161, 161, 161, 1) 0%,
    rgba(255, 255, 255, 0.7441570378151261) 87%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1a1a1",endColorstr="#ffffff",GradientType=1);
}

@layer components {
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .glass {
    background: rgba(255, 255, 255, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
  }
}
